# Data Analysis & Visualization
seaborn
pandas
numpy
matplotlib

# Machine Learning
scikit-learn
catboost
xgboost
lightgbm

# Deep Learning / LLM
# langchain
# openai

# Web Framework
flask
django

# Database
sqlalchemy
pymongo[srv]==3.12.3
certifi

# Utilities
requests
dill
python-dotenv
PyYAML

mlflow

# Local package installation (must be last)
-e .